server:
  port: 8081
spring:
  cloud:
    config:
      server:
        git:
          default-label: main
          uri: https://github.com/benyax38/toolrent-microservices-v2
          search-paths: config-data
  application:
    name: config-service
